{% extends "base.html" %}

{% block titulo %}Calculadora de Gasto Calórico Total (GCT){% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Gasto Calórico Total (GCT)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es el Gasto Calórico Total?</h5>
                    <p>El GCT muestra cuántas calorías usas en un dia completo sumando tu metabolismo basal y tu actividad fisica. Este numero ayuda a ajustar la alimentación según si quieres bajar de, mantener o subir de peso. </p>
                    <p>Ingresa tus datos para obtener tu GCT (Ingresa el numero solo)</p>
                    <form method="POST" action="{{ url_for('cal_gct') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="tmb_gct" name="tmb_gct" required
                                    placeholder="Ingresa tu TMB" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="actividad_gct" name="actividad_gct" required>
                                    <option value="" selected disabled>Nivel de Actividad</option>
                                    <option value="sedentario" {{ 'selected' if
                                        datos_usuario.nivel_actividad=='sedentario' else '' }}>Sedentario</option>
                                    <option value="ligero" {{ 'selected' if datos_usuario.nivel_actividad=='ligero'
                                        else '' }}>Ligero</option>
                                    <option value="moderado" {{ 'selected' if datos_usuario.nivel_actividad=='moderado'
                                        else '' }}>Moderado</option>
                                    <option value="activo" {{ 'selected' if datos_usuario.nivel_actividad=='activo'
                                        else '' }}>Activo</option>
                                    <option value="atleta">Atleta</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular GCT</button>
                    </form>
                    {% if resultado_gct %}
                    <div class="alert alert-warning mt-3">
                        {{ resultado_gct|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/gct.png') }}" class="img-fluid rounded-4"
                alt="Mapa conceptual que explica el gasto calorico total.">
        </div>
    </div>
</section>

{% endblock %}