{% extends "base.html" %}

{% block titulo %}Calculadora de Peso Corporal Ideal{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Peso Corporal Ideal</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es el Peso Corporal Ideal?</h5>
                    <p>El peso corporal ideal es un rango aproximado basado en tu altura y sexo. No es un número exacto pero sirve para orientarte</p>
                    <p>Ingresa tus datos para saber cual es tu Peso Corporal Ideal (Ingresa el numero solo)</p>
                    <form method="POST" action="{{ url_for('cal_peso_ideal') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="altura_pci" name="altura_pci" required
                                    placeholder="Ingresa tu altura (cm)"
                                    value="{{ datos_usuario.altura if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="genero_pci" name="genero_pci" required>
                                    <option value="" selected disabled>Selecciona tu Género</option>
                                    <option value="hombre" {{ 'selected' if datos_usuario.genero=='hombre' else '' }}>
                                        Hombre</option>
                                    <option value="mujer" {{ 'selected' if datos_usuario.genero=='mujer' else '' }}>
                                        Mujer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="complexion_pci" name="complexion_pci" required>
                                    <option value="" selected disabled>Tipo de Complexión</option>
                                    <option value="pequena">Complexión Pequeña</option>
                                    <option value="mediana">Complexión Mediana</option>
                                    <option value="grande">Complexión Grande</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular Peso Ideal</button>
                    </form>
                    {% if resultado_peso_ideal %}
                    <div class="alert alert-success mt-3">
                        {{ resultado_peso_ideal|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/psc.png') }}" class="img-fluid rounded-4"
                alt="Tabla sobre el peso corporal ideal.">
        </div>
    </div>
</section>

{% endblock %}