{% extends "base.html" %}

{% block titulo %}Calculadora de Tasa Metabólica Basal{% endblock %}

{% block contenido %}

<section class="container pt-4">
    <div class="row mb-4 align-items-center">
        <div class="col-12 col-md-6">
            <div class="card text-bg-light mb-3">
                <div class="card-header">Calculadora de Tasa Metabólica Basal (TMB)</div>
                <div class="card-body">
                    <h5 class="card-title">¿Qué es la Tasa Metabólica Basal?</h5>
                    <p>La TMB indica cuantas calorias usa tu cuerpo solo para mantenerse vivo, incluso cuando estas en reposo. Conocer este valor nos permite saber cuantas calorías necesitamos como minimo cada dia.</p>
                    <p>Ingresa tus datos para obtener tu TMB (Ingresa el numero solo)</p>
                    <form method="POST" action="{{ url_for('cal_tmb') }}">
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="edad_tmb" name="edad_tmb" required
                                    placeholder="Ingresa tu edad"
                                    value="{{ datos_usuario.edad if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <select class="form-select" id="genero_tmb" name="genero_tmb" required>
                                    <option value="" selected disabled>Selecciona tu Género</option>
                                    <option value="hombre" {{ 'selected' if datos_usuario.genero=='hombre' else '' }}>
                                        Hombre</option>
                                    <option value="mujer" {{ 'selected' if datos_usuario.genero=='mujer' else '' }}>
                                        Mujer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="peso_tmb" name="peso_tmb" required
                                    placeholder="Ingresa tu peso (kg)"
                                    value="{{ datos_usuario.peso if datos_usuario else '' }}">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8 text-start">
                                <input type="text" class="form-control" id="altura_tmb" name="altura_tmb" required
                                    placeholder="Ingresa tu altura (cm)"
                                    value="{{ datos_usuario.altura if datos_usuario else '' }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Calcular TMB</button>
                    </form>
                    {% if resultado_tmb %}
                    <div class="alert alert-info mt-3">
                        {{ resultado_tmb|safe }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <img src="{{ url_for('static', filename='img/tmb.jpg') }}" class="img-fluid rounded-4"
                alt="Dibujo de una persona revisando su TMB en una tablet.">
        </div>
    </div>
</section>

{% endblock %}